<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi calendario</title>
        <link rel="stylesheet" href="{% static 'globalStyles/menuStyle.css' %}">
    </head>
    <body>
        <div class="main-container">
            <h1>Calendario</h1>
            <div class="widgets-container">
                <div class="widget">
                    <span>Calendario</span>
                </div>
            </div>
        </div>
    </body>
</html>